.Swap_Input input {
  border: 0;
  outline: 0;
  background-color: transparent;
  font-size: 2rem;
  width: 100%;
  height: 5rem;
  color: white;
}

.Swap_Input button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  line-height: 0;
  padding: 1rem;
  font-weight: 600;
}
