.Search_Input input {
  border: 0;
  outline: 0;
  background-color: transparent;
  font-size: 1rem;
  width: 100%;
}

.Search_Token_List {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.Search_Token_List span {
  text-align: center;
  gap: 0.5rem;
  border: 1px solid #52525b;
  width: 5rem;
  padding: 0.3rem;
  border-radius: 1rem;
  cursor: pointer;
}

.Search_Token_List span:hover {
  background: rgba(61, 60, 66, 0.4);
}

.active {
  background: rgba(218, 40, 119, 0.2);
  color: #da2877;
  border: 1px solid #da2877;
  border-radius: 1rem;
}
